@import "tailwindcss";
@plugin "@tailwindcss/typography";
/* these are necessary styles for vue flow */
@import '@vue-flow/core/dist/style.css';

/* this contains the default theme, these are optional styles */
@import '@vue-flow/core/dist/theme-default.css';

/* default theme for dark mode */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  --text-color: rgba(255, 255, 255, 0.87);
  --background-color: rgb(36, 36, 36);
  --border-color: rgb(63, 63, 63);
  --shadow-color: rgba(221, 221, 221, 0.1);
  --working-background-color: rgb(0, 35, 48);
  
  --hover-color: rgba(0, 0, 0, 0.1);

  --footer-background-color: rgb(24, 24, 24);
  --highlight-background-color: rgb(26, 43, 48);
  --highlight-color: rgb(195, 96, 56);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #213547;
    --background-color: rgb(255, 255, 255);
    --border-color: rgb(226, 226, 226);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --working-background-color: rgb(221, 246, 255);

    --hover-color: rgba(255, 255, 255, 0.3);

    --footer-background-color: rgb(240, 240, 240);
    --highlight-background-color: rgb(239, 246, 255);
    --highlight-color: rgb(216, 73, 33);
  }
}

body {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}
.main-container {
    top: 0;
    left: 0;
    width: 100%;
    max-width: calc(100% - 3rem);
    z-index: 10;
    height: 100vh;
    overflow-y: auto;
    background: transparent;
}
.main-content {
    position: relative;
    z-index: 10;
    width: 100%;
}

/* for markdown */
.message-content h1 {
    @apply text-xl font-bold;
    color: var(--text-color);
    margin: 0 0 0.5rem 0;
}
.message-content h2 {
    @apply text-lg font-bold;
    color: var(--text-color);
    margin: 0 0 0.4rem 0;
}
.message-content h3 {
    @apply text-base font-bold;
    color: var(--text-color);
    margin: 0 0 0.3rem 0;
}
.message-content h4 {
    @apply text-base;
    color: var(--text-color);
    margin: 0 0 0.2rem 0;
}
.message-content h5 {
    @apply text-base italic;
    color: var(--text-color);
    margin: 0 0 0.1rem 0;
}
.message-content h6 {
    @apply text-sm italic;
    color: var(--text-color);
    margin: 0 0 0.1rem 0;
}
.message-content p {
    @apply text-base;
    margin: 0.2rem 0;
}
.message-content table {
    margin: 0.2rem 0;
}
.message-content ul,
.message-content ol {
  margin: 0.2rem 0;
}
.message-content li {
  margin: 0 0 0.1rem 0;
}
.message-content hr {
  margin: 0.5rem 0;
}
.prose {
  color: var(--text-color);
}

.highlight-keyword {
  color: var(--highlight-color);
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

/* override the tailwind colors */
@layer base {
  * {
    border-color: var(--border-color);
  }
}